/*
 *
 * CSS Specifics for the About-Us Page
 * Author: Zeunic
 *
 */

 

/*
 * Images & Headings --------------------------------------------- /
 */
 
 #about_us {
 	background: url(../images/teaglass.png) top center no-repeat;
 	padding-top: 22px;
 	margin-top:10px;
 }
 
#about_us h1 {
	font-family: Garamond, sans-serif;
	text-transform: lowercase;
	float: right;
	font-size: 2.4em;
	line-height: 1.2em;
	width: 250px;
	margin: 25px 0 20px 90px;
	font-weight: bold;
}

#about_us h1 em {
	font-weight: bold;
}

.minibio img {
	border: 1px solid black;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	float: left;
	margin: 5px 20px 0 5px;
}

#about_us section:first-child {
	padding-bottom: 20px;
	margin-bottom: 30px;
	background: bottom center url(../images/horiz_rule.png) no-repeat;
}

.minibio .bioTitle {
	font-size: 1.6em;
	font-weight: bold;
	margin: 0 0 10px 0;
}

.minibio .bioTitle span {
	color: #676767;
	font-size: .85em;
}
 

/*
 * Individual Bios --------------------------------------------- /
 */
 
.minibio {
	overflow: hidden;
	margin: 0 0 40px 0;
}

.minibio ul {
	float: left;
	width: 367px;
	height: 120px;
	font-size: 1.2em;
	margin-top: 2px;
}

.minibio .tweet {
	margin: 0 0 10px 0;
}

.minibio p {
	float: left;
	clear: left;
	margin: 17px 0 0 0;
}
