/*
 *
 * Admin CSS Specifics for the Client Login & Project Management Sections
 * Author: Zeunic
 *
 */
 
div#admin {
	padding: 5px;
}

#admin h1 {
	font: 23px "Droid Sans", sans-serif;
	margin-bottom: 10px;
}

/*
 * Login Page ------------------------------------------------- /
 */

#admin #login_form div.row {
	float: left;
	clear: none;
	margin: 0 15px 0 0;
}

#admin p:nth-child(2)  {
	margin-top: 40px;
	font-size: 1.3em;
	width: 340px;
}
 
#admin label {
	width: 590px;
	margin: 0 5px 0 0;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	color: #EC1559;
} 

#admin input[type="text"], #admin input[type="password"], #admin textarea {
	font-size: 1.4em;
	background-color: #E1E1E1;
	border: 1px solid #BBBBBB;
	padding: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}

#admin #login_form .row.submit input[type="submit"] {
	display: none;
}

#admin .row {
	margin-bottom: 10px;
}

#admin #login_form .row.submit a, #admin .link-button {
	display: block;
	width: 70px;
	border: 1px solid white;
	text-align: center;
	background-color: #EC1559;
	padding: 3px 0 3px 0;
	color: #FFFFFF;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 18px;
}

#admin .link-button {
	display: inline;
	padding: 5px 10px;
}

#admin fieldset {
	border: 1px solid grey;
	padding: 20px;
	width: 540px;
	margin: 10px 0;
}

#admin legend {
	font: 17px "Droid Sans", sans-serif;
	color: #2a4052;
}

#admin fieldset img {
	width: 530px;
}

#admin fieldset li {
	margin-bottom: 10px;
}

/* Project Index */

#admin table {
	width: 590px;
}

#admin th {
	font-weight: bold;
}

#admin tr:hover {
	background-color: #FFF;
}
