#nav {
	position: static;
	float: left;
}

#main {
	position: static;
	float: left;
	margin: 20px 0 0 20px;
}

q {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

#main #portfolio-article .our-work .extend-thumb {
	display: none;
}

#main #portfolio-article {
	padding-bottom: 20px;
}

#slider ul li {
	padding-bottom: 10px;
}

#main h1 {
	border-bottom: none;
}

#main p {
	border-bottom: none;
}

#work-detail #project-tags a:hover {
	text-decoration: none;
	cursor: default;
}
