/* -----------------GENERAL------------------ */

html {
	background-color: #cbdcea;
	font-family: "Droid Sans", sans-serif;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

small {
	font-size: 13px;
}

/* -----------------HEADER------------------ */

header {
	height: 104px;
	padding-top: 20px;
	background: url(../images/bg_header.png) repeat-x;
}

header q {
	font: 23px/1.1 "Droid Sans";
	color: #b7c7d4;
	width: 960px;
	text-align: right;
	margin: 0 auto;
	display: block;
	letter-spacing: .07em;
}

header q em:first-child {
	font-size: 17px;
	margin-right: 159px;
	color: #5c89ad;
}

header br+em {
	margin-right: 82px;
}

header small {
	color: #90aec6;
}

header small strong {
	font-size: 15px;
}