/* -----------------GENERAL------------------ */

#signature {
	margin-top: 20px;
}

html {
	font-family: "Droid Sans", sans-serif;
	background-color: #171f24;
	overflow-y: scroll;
}

body {
	font: 62.5%/2em "Droid Sans", Helvetica, sans-serif;
}

a:link, a:active {
	color: #EC1559;
	text-decoration: none;
}

a:visited {
	color: #B20C5E;
}

a:hover {
	color: #EC5A32;
}

#container {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background: #eaeaea;
	background: -moz-linear-gradient(top, #f9fafb 0%, #777b7f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fafb), color-stop(100%,#777b7f));
	background: -webkit-linear-gradient(top, #f9fafb 0%,#777b7f 100%);
	background: -o-linear-gradient(top, #f9fafb 0%,#777b7f 100%);
	background: -ms-linear-gradient(top, #f9fafb 0%,#777b7f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafb', endColorstr='#777b7f',GradientType=0 );
	background: linear-gradient(top, #f9fafb 0%,#777b7f 100%);
	min-width: 960px;
}

#content {
	overflow: hidden;
	padding-left: 5px;
	min-height: 460px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#main {
	overflow: hidden;
	position: relative;
	margin: 20px 0 20px 325px;
	float: left;
	width: 590px;
}

p {
	margin: 0 0 10px 0;
	font-size: 1.3em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

small {
	font-size: 11px;
}

article nav {
	margin: 0;
}

/* -----------------HEADER------------------ */

header {
	box-shadow: inset 0px -40px 40px -40px #000000;
	height: 100px;
	padding-top: 20px;
	background-image: url(../images/swirl_top.png), url(../images/bg_header.png);
	background-position: bottom center, bottom center;
	background-repeat: no-repeat, repeat-x;
}

/* -----------------QUOTE------------------ */

header q {
	font: 23px/1.1 'Droid Sans', sans-serif;
	color: #b7c7d4;
	width: 870px;
	text-align: right;
	margin: 0 auto;
	display: block;
	letter-spacing: .01em;
	line-height: 16px;
}

header q em:first-child {
	font-size: 17px;
	margin-right: 140px;
	line-height: 27px;
	color: #5c89ad;
}

header br+em {
	margin-right: 36px;
}

header small {
	color: #90aec6;
	margin-left: 2px;
	letter-spacing: .03em;
}

header small strong {
	font-size: 18px;
}

/* -----------------LOGO------------------ */

#logo {
	display: block;
	margin-top: 100px;
	width: 250px;
	background: no-repeat url(../images/logo.png);
}

/* -----------------NAVIGATION------------------ */

nav {
	width: 250px;
	float: left;
	margin: 0 0 0 33px;
}

nav ul {
	margin: 0 0 0 5px;
	width: 150px;
	overflow: hidden;
	float: left;
}

nav li a {
	display: block;
	width: 30px;
	height: 43px;
	cursor: pointer;
}

nav ul li {
	background: url(../images/icons/nav.png) no-repeat;
	width: 30px;
	height: 43px;
	text-indent: -9999px;
	float: left;
}

nav ul li:hover {
	background: url(../images/icons/nav_hover.png) no-repeat;
}

#about {
	background-position: 0 0;
}

#blog {
	background-position: -30px 0;
}

#contact {
	background-position: -60px 0;
}

#login {
	background-position: -90px 0;
}

li#admin {
	background-position: -90px 0;
}

#portfolio {
	background-position: -120px 0;
}

nav .active, nav ul li.active:hover {
	background: url(../images/icons/nav_active.png) no-repeat;
	-moz-box-shadow: 0 4px 7px #ced9e1;
	-webkit-box-shadow: 0 4px 7px #ced9e1;
	box-shadow: 0 4px 4px #ced9e1;
}

nav h1 {
	font: bold 17px/56px "Droid Sans", sans-serif;
	color: #2a4052;
	float: left;
	width: 85px;
	text-align: right;
}

/* -----------------VERTICAL DIVIDER------------------ */

#vertrule {
	margin-left: 15px;
	margin-top: 15px;
	width: 6px;
	height: 305px;
	float: left;
}

/* -----------------CONTACT------------------ */

form#contact {
	width: 550px;
	background: url(../images/bg_contact_top.png) left bottom no-repeat, url(../images/bg_contact_btm.png) left top repeat-y;
	-moz-box-shadow: 0 0 9px rgba(0,0,0,.7);
	-webkit-box-shadow: 0 0 9px rgba(0,0,0,.7);
	box-shadow: 0 0 9px rgba(0,0,0,.7);
	margin: 0 0 20px 0;
	padding: 0px 20px 240px 20px;
	border-bottom: 1px solid #666666;
}

form#contact h2 {
	border-top: 1px solid #666;
	font: bold 18px/40px "Droid Sans", sans-serif;
	color: #213240;
	margin: 0 -10px;
	padding: 11px 0 0 10px;
}

form#contact p {
	font: 15px/40px "Droid Sans", sans-serif;
	color: #213240;
}

form#contact input {
	width: 220px;
	height: 30px;
	padding: 0 10px;
	background-color: rgba(0,0,0,.1);
	border: none;
	border-bottom: 1px dashed #6c8598;
	font-weight: bold;
}

form#contact input:focus, form#contact textarea:focus {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.6);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.6);
	box-shadow: 0 0 5px rgba(0,0,0,.6);
	border-bottom: 1px dashed #000;
}

form#contact textarea {
	width: 530px;
	height: 40px;
	display: block;
	padding: 4px 10px 4px 10px;
	margin-top: 5px;
	margin-bottom: 6px;
	line-height: 20px;
	background-color: rgba(0,0,0,.1);
	border: none;
	border-bottom: 1px dashed #000;
	font-weight: normal;
}

form#contact .error {
	border-bottom: 1px dashed #db0d59;
}

form#contact #submit {
	font: bold 20px/16px "Garamond", sans-serif;
	color: #fff;
	width: 80px;
	height: 80px;
	padding: 0;
	margin: 70px 235px 0 235px;
	float: right;
	border: none;
	background: none;
	cursor: pointer;
}

form#contact #submit:hover {
	color: #700e13;
}

form#contact p.error {
	border: none;
	font: bold 12px/16px "Droid Sans", sans-serif;
	color: #de80a8;
	position: absolute;
	text-align: right;
	width: 550px;
	margin-right: 5px;
}

form#contact p.error img {
	margin-left: 5px;
	float: right;
}

.contact-print, .contact-media, .contact-social {
	width: 190px;
	float: left;
	font-size: 1.4em;
	color: #333;
	margin: 0 0 15px 0;
	border-top: 1px solid #666666;
	padding: 5px 0 0 0;
}

.contact-print a, .contact-media a, .contact-social a {
	color: #333;
}

.contact-print a:hover, .contact-media a:hover, .contact-social a:hover {
	color: #ec1559;
}

.contact-print, .contact-media {
	margin-right: 10px;
}

#contact-address {
	background: url(../images/address.png) top left no-repeat;
	padding-left: 20px;
}

#contact-phone {
	background: url(../images/phone.png) top left no-repeat;
	padding-left: 20px;
}

#contact-placeholder {
	background: url(../images/phone.png) top left no-repeat;
	padding-left: 20px;
}

#contact-email {
	background: url(../images/email.png) top left no-repeat;
	padding-left: 20px;
}

#contact-twitter {
	background: url(../images/twitter.png) top left no-repeat;
	padding-left: 20px;
}

#contact-gplus {
	background: url(../images/gplus.png) top left no-repeat;
	padding-left: 20px;
}

#contact-facebook {
	background: url(../images/facebook.png) top left no-repeat;
	padding-left: 20px;
}



/* -----------------ARTICLE CONTENT------------------ */

article h1 {
	font-family: Garamond, sans-serif;
	text-transform: lowercase;
	float: right;
	font-size: 2.4em;
	line-height: 1.2em;
	width: 270px;
	margin: 10px 20px 20px 30px;
	font-weight: bold;
}

article h1 em {
	font-weight: bold;
}

/* -----------------PORTFOLIO------------------ */




/* -----------------ADMIN------------------ */

ul#admin li {
	display: inline;
	margin-right: 10px;
}

#project-form li {
	display: inline;
	float: left;
	margin-right: 10px;
	border: 1px dotted black;
	padding: 5px;
}

.row {
	clear: left;
}


/* -----------------FOOTER------------------ */

footer {
	box-shadow: inset 0px 20px 20px -15px #0d0d0d;
	overflow: hidden;
	min-height: 160px;
	min-width: 960px;
	background-image: url(../images/swirl_btm.png), url(../images/bg_footer.png);
	background-position: top center, top center;
	background-repeat: no-repeat, repeat-x;
}

footer aside {
	width: 870px;
	margin: 0 auto;
	text-align: right;
	padding: 51px 0 0 0;
	clear: both;
	overflow: hidden;
}

footer aside q {
	color: #909498;
	font: 12px/1.4 "Droid Sans", sans-serif;
	width: 375px;
	display: block;
	float: right;
	margin: 0 0 5px 0;
}

footer aside cite {
	color: #505355;
	font: bold 10px "Droid Sans", sans-serif;
	display: block;
	float: right;
	clear: right;
}

footer cite a:link, footer cite a:visited {
	color: #505355;
	text-decoration: underline;
}