/* -----------------GENERAL------------------ */
/* Parker was here */

html {
	font-family: "Droid Sans", sans-serif;
	background-color: #171f24;
}

body {
	font: 62.5%/2em "Droid Sans", Helvetica, sans-serif;
}

#container {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background: #eaeaea;
	background: -moz-linear-gradient(top, #f9fafb 0%, #777b7f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fafb), color-stop(100%,#777b7f));
	background: -webkit-linear-gradient(top, #f9fafb 0%,#777b7f 100%);
	background: -o-linear-gradient(top, #f9fafb 0%,#777b7f 100%);
	background: -ms-linear-gradient(top, #f9fafb 0%,#777b7f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafb', endColorstr='#777b7f',GradientType=0 );
	background: linear-gradient(top, #f9fafb 0%,#777b7f 100%);
	min-width: 960px;
}

#content {
	overflow: hidden;
	padding-left: 5px;
	min-height: 460px;
	width: 960px;
	margin: 0 auto;
}

#main {
	overflow: hidden;
	position: relative;
	margin: 20px 0 20px 20px;
	float: left;
	width: 590px;
}

p {
	margin: 0 0 10px 0;
	font-size: 1.3em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

small {
	font-size: 13px;
}

/* -----------------HEADER------------------ */

header {
	box-shadow: inset 0px -40px 40px -40px #000000;
	height: 100px;
	padding-top: 20px;
	background-image: url(../images/swirl_top.png), url(../images/bg_header.png);
	background-position: bottom center, bottom center;
	background-repeat: no-repeat, repeat-x;
}

/* -----------------QUOTE------------------ */

header q {
	font: 23px/1.1 "Droid Sans";
	color: #b7c7d4;
	width: 960px;
	text-align: right;
	margin: 0 auto;
	display: block;
	letter-spacing: .07em;
}

header q em:first-child {
	font-size: 17px;
	margin-right: 159px;
	color: #5c89ad;
}

header br+em {
	margin-right: 82px;
}

header small {
	color: #90aec6;
}

header small strong {
	font-size: 15px;
}

/* -----------------LOGO------------------ */

#logo {
	display: block;
	margin-top: 120px;
	width: 230px;
}

#logo img:hover {
	background-image: url(../images/logo_hover.png);
}

/* -----------------NAVIGATION------------------ */

nav {
	width: 235px;
	float: left;
	margin: 0 0 0 35px;
}

nav ul {
	margin: 0 0 0 -5px;
	width: 150px;
	overflow: hidden;
	float: left;
}

nav li a {
	display: block;
	width: 30px;
	height: 43px;
	cursor: pointer;
}

nav ul li {
	background: url(../images/icons/nav.png) no-repeat;
	width: 30px;
	height: 43px;
	text-indent: -9999px;
	float: left;
}

nav ul li:hover {
	background: url(../images/icons/nav_hover.png) no-repeat;
}

#about {
	background-position: 0 0;
}

#blog {
	background-position: -30px 0;
}

#contact {
	background-position: -60px 0;
}

#login {
	background-position: -90px 0;
}

#portfolio {
	background-position: -120px 0;
}

nav .active, nav ul li.active:hover {
	background: url(../images/icons/nav_active.png) no-repeat;
	-moz-box-shadow: 0 4px 7px #ced9e1;
	-webkit-box-shadow: 0 4px 7px #ced9e1;
	box-shadow: 0 4px 4px #ced9e1;
}

nav h1 {
	font: bold 17px/56px "Droid Sans", sans-serif;
	color: #2a4052;
	float: left;
	width: 85px;
	text-align: right;
}

/* -----------------VERTICAL DIVIDER------------------ */

#vertrule {
	margin-left: 25px;
	margin-top: 15px;
	width: 6px;
	height: 305px;
	float: left;
}

/* -----------------CONTACT------------------ */

form#contact {
	width: 550px;
	background: #d8e5ef top center url(../images/bg_contact.jpg) no-repeat;
	box-shadow: 0 0 9px rgba(0,0,0,.2);
	margin: 0 0 20px 0;
	padding: 20px 20px 50px 20px;
}

form#contact h2 {
	font: bold 18px/40px "Droid Sans", sans-serif;
	color: #213240;
}

form#contact p {
	font: 15px/40px "Droid Sans", sans-serif;
	color: #213240;
}

form#contact input {
	width: 220px;
	height: 30px;
	padding: 0 10px;
	background-color: #c0d2e0;
	border: none;
	border-bottom: 1px dashed #6c8598;
	font-weight: bold;
}

form#contact input:focus, form#contact textarea:focus {
	box-shadow: 0 0 10px #1b598d;
	border-bottom: 1px dashed #0eb2bd;
}

form#contact textarea {
	width: 530px;
	height: 30px;
	display: block;
	padding: 10px 10px 0 10px;
	margin-top: 5px;
	line-height: 20px;
	background-color: #c0d2e0;
	border: none;
	border-bottom: 1px dashed #6c8598;
	font-weight: normal;
}

form#contact .error {
	border-bottom: 1px dashed #db0d59;
}

form#contact #submit {
	width: 192px;
	height: 36px;
	box-shadow: 0 0 6px #888;
	padding: 0;
	float: right;
	border: none;
}

form#contact p.error {
	border: none;
	font: bold 12px/16px "Droid Sans", sans-serif;
	color: #de80a8;
	position: absolute;
	text-align: right;
	width: 550px;
	margin-right: 5px;
}

form#contact p.error img {
	margin-left: 5px;
	float: right;
}

.contact-print, .contact-media, .contact-social {
	width: 190px;
	float: left;
	font-size: 1.4em;
	margin: 0 0 20px 0;
	border-top: 1px solid #777777;
	padding: 5px 0 0 0;
}

.contact-print, .contact-media {
	margin-right: 10px;
}


/* -----------------ARTICLE CONTENT------------------ */

article h1 {
	font-family: Garamond, sans-serif;
	text-transform: lowercase;
	float: right;
	font-size: 2.4em;
	line-height: 1.2em;
	width: 270px;
	margin: 10px 20px 20px 30px;
	font-weight: bold;
}

article h1 em {
	font-weight: bold;
}

/* -----------------PORTFOLIO------------------ */




/* -----------------ADMIN------------------ */

ul#admin li {
	display: inline;
	margin-right: 10px;
}


/* -----------------FOOTER------------------ */

footer {
	box-shadow: inset 0px 20px 20px -15px #0d0d0d;
	overflow: hidden;
	min-height: 160px;
	min-width: 960px;
	background-image: url(../images/swirl_btm.png), url(../images/bg_footer.png);
	background-position: top center, top center;
	background-repeat: no-repeat, repeat-x;
}

footer aside {
	width: 870px;
	margin: 0 auto;
	text-align: right;
	padding: 51px 0 0 0;
	clear: both;
	overflow: hidden;
}

footer aside q {
	color: #909498;
	font: 12px/1.4 "Droid Sans", sans-serif;
	width: 375px;
	display: block;
	float: right;
	margin: 5px 0;
}

footer aside cite {
	color: #505355;
	font: bold 10px "Droid Sans", sans-serif;
	display: block;
	float: right;
	clear: right;
}

footer cite a {
	color: #505355;
}