/*
 *
 * CSS Specifics for the Our-Work List and Detail View Pages
 * Author: Zeunic
 *
 */
 

/*
 * Tag Filters Button Row --------------------------------------------- /
 */
 
.button-row {
 	overflow: hidden;
 	margin: 20px 0 0 15px;
 	float: left;
 	width: 600px;
}

#content .button-row + #main {
	margin-top: 0px;
}

.button-row li a {
	display: block;
	float: left;
	background: url(../images/icons/tag-filters.png) no-repeat;
	width: 91px;
	height: 20px;
	text-indent: -99999px;
	margin: 3px 5px 3px 5px;
	border-radius: 5px;
	-webkit-transition: box-shadow 0.5s ease-in;
	-moz-transition: box-shadow 0.5s ease-in;
}

.button-row a:hover {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.button-row a.selected {
	background-position-y: -20px;
	-webkit-box-shadow: 0 0 5px rgba(102,184,232,1);
}

.button-row a[data-value="web"] {
	.background-position-x: 0;
}

.button-row a[data-value="mobile"] {
	background-position-x: -91px;
}

.button-row a[data-value="brand"] {
	background-position-x: -182px;
}

.button-row a[data-value="all"] {
	background-position-x: -273px;
}
 
.button-row li {
	display: inline;
	overflow: hidden;
	float: left;
}

/*
 * Search Input --------------------------------------------- /
 */
 
.button-row input[type="text"] {
	width: 162px;
	height: 16px;
	font-size: 1.2em;
	padding: 2px 25px 2px 2px;
	border: 1px solid #768ea3;
	border-radius: 5px;
	background-color: #ffffff;
	margin: 2px 2px 2px 0;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
	background: #ffffff right center url(../images/icons/search_input.png) no-repeat;
}


/*
 * Portfolio Display --------------------------------------------- /
 */

.our-work .hidden {
	display: none;
}

.our-work {
	position: relative;
}
 
.portfolio_display {
	width: 600px;
	height: 360px;
	margin: 10px 0 0 0;
	position: relative;
}
 
.portfolio_display li {
	float: left;
	width: 180px;
	height: 110px;
	overflow: hidden;
	margin: 0 10px 10px 0;
	padding: 4px;
	border: 1px solid #768EA3;
	background: #f9fafb;
}

.extend-thumb {
	position: absolute;
	overflow: hidden;
	width: 590px;
	background-color: red;
	height: 120px;
	opacity: 0;
}