/*
 *
 * CSS Specifics for the Our-Work List and Detail View Pages
 * Author: Zeunic
 *
 */
 

/*
 * Tag Filters Button Row --------------------------------------------- /
 */
 
.button-row {
 	margin: 0 0 0 -5px;
 	float: left;
 	width: 600px;
}

#content .button-row + #main {
	margin-top: 0px;
}

.button-row li a {
	display: block;
	float: left;
	background: url(../images/icons/tag-filters.png) no-repeat;
	width: 91px;
	height: 20px;
	text-indent: -99999px;
	margin: 3px 4px 10px 5px;
	border-radius: 5px;
	-webkit-transition: box-shadow 0.5s ease-in;
	-moz-transition: box-shadow 0.5s ease-in;
}

.button-row a:hover {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.button-row a[data-value="web"] {
	background-position: 0 0;
}

.button-row a[data-value="mobile"] {
	background-position: -91px 0;
}

.button-row a[data-value="brand"] {
	background-position: -182px 0;
}

.button-row a[data-value="all"] {
	background-position: -273px 0;
}

.button-row a.selected[data-value="web"] {
	background-position: 0 -20px;
	box-shadow: 0 0 5px rgba(102,184,232,1);
}

.button-row a.selected[data-value="mobile"] {
	background-position: -91px -20px;
	box-shadow: 0 0 5px rgba(102,184,232,1);
}

.button-row a.selected[data-value="brand"] {
	background-position: -182px -20px;
	box-shadow: 0 0 5px rgba(102,184,232,1);
}

.button-row a.selected[data-value="all"] {
	background-position: -273px -20px;
	box-shadow: 0 0 5px rgba(102,184,232,1);
}
 
.button-row li {
	float: left;
	position: relative;
}

/*
 * Search Input --------------------------------------------- /
 */
 
.button-row input[type="text"] {
	width: 161px;
	height: 16px;
	font-size: 1.2em;
	padding: 2px 25px 2px 2px;
	border: 1px solid #768ea3;
	border-radius: 5px;
	margin: 2px 0 2px 5px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
	background: #ffffff right center url(../images/icons/search_input.png) no-repeat;
}

.ui-autocomplete {
	width: 162px;
	border-radius: 0 0 5px 5px;
	font-size: 1.2em
	padding: 10px;
	background-color: #fff;
	border: 1px solid #768ea3;
}

.ui-menu-item {
	border-bottom: 1px solid #768ea3
}

.ui-menu-item a {
	padding: 3px 0 2px 10px;
	text-decoration: underline;
	cursor: pointer;
}

#searchbutton {
	display: block;
	text-indent: -9999px;
	width: 25px;
	height: 22px;
	position: absolute;
	z-index: 99;
	right: 0;
	top: 0;
	background: none;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
}

.button-row a#searchbutton:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}


/*
 * Portfolio Display --------------------------------------------- /
 */

.our-work .hidden {
	display: none;
}

#portfolio-article {
	float: left;
	margin-bottom: 10px;
}

.our-work {

}
 
.portfolio_display {
	width: 600px;
	margin: 0 0 0 0;
	position: relative;
	display: block;
}
 
.portfolio_display li {
	float: left;
	width: 180px;
	height: 110px;
	overflow: hidden;
	margin: 0 10px 10px 0;
	padding: 4px;
	border: 1px solid #768EA3;
	background: #f9fafb;
}

.portfolio_display li:hover {
	padding: 0;
	border: 5px solid #EC1559;
	-webkit-border-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec5137), color-stop(50%,#ec1559), color-stop(100%,#99074d));
	background: #f9fafb;
}

.extend-thumb {
	position: absolute;
	overflow: hidden;
	width: 590px;
	height: 118px;
	opacity: 0;
	margin-top: 36px;
	border: 1px solid #768EA3;
}
